= simple_form_for(@app) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :slug
    = f.input :o_site_id
    = f.input :o_user_id
    = f.input :owner
    = f.input :pagetype
    = f.input :uv
    = f.input :punish
    = f.input :keywords
    = f.input :found_at
    = f.input :site_type
    = f.input :description
    = f.input :logo

  .form-actions
    = f.button :submit
